# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python files
[*.py]
max_line_length = 88
# Use double quotes for strings
quote_type = double

# YAML files
[*.{yaml,yml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Shell scripts
[*.sh]
indent_style = tab
indent_size = 4

# Dockerfiles
[Dockerfile*]
indent_style = space
indent_size = 4

# TOML files
[*.toml]
indent_style = space
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# Batch files
[*.bat]
indent_style = tab

# PowerShell files
[*.ps1]
indent_style = space
indent_size = 4
